# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/OOPProject/v15/ipch/AutoPCH/40d7a90b3e1d7c83/SNAKE.ipch
/.vs/OOPProject/v15/ipch/AutoPCH/7838aa05ce5ae6e4/UNDERGROUND.ipch
/.vs/OOPProject/v15/ipch/AutoPCH/b2d9490357a0bc47/HOLE.ipch
/.vs/OOPProject/v15/Browse.VC.opendb
